### Imports
For APIs requests

In [2]:
import requests as req
import time
import pandas as pd

In [3]:
url = "https://api.themoviedb.org/3/search/movie?query=The Shawshank redemption"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiZTBhN2M4NDY5MTAzNjEwOGNmODk5NjU0YTUxMGUyNiIsInN1YiI6IjY1NDY1MDg2NmJlYWVhMDEyYzhlMTg0NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.NnEmCyjbwS8CCnU-Q1zrLWNxSNcJG_OwHY6L3MYKBpo"
}

response = req.get(url, headers=headers)

In [4]:
response.json()['results'][0]['vote_average'],response.json()['results'][0]['vote_count']

(8.7, 24848)

In [5]:
url = "https://api.themoviedb.org/3/search/movie?query=Yojimbo"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiZTBhN2M4NDY5MTAzNjEwOGNmODk5NjU0YTUxMGUyNiIsInN1YiI6IjY1NDY1MDg2NmJlYWVhMDEyYzhlMTg0NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.NnEmCyjbwS8CCnU-Q1zrLWNxSNcJG_OwHY6L3MYKBpo"
}

response = req.get(url, headers=headers)

In [6]:
response.json()['results'][0]

{'adult': False,
 'backdrop_path': '/zd7mu6dJKxkVtBdXqlEQ9W3msKl.jpg',
 'genre_ids': [18, 53],
 'id': 11878,
 'original_language': 'ja',
 'original_title': '用心棒',
 'overview': 'A nameless ronin, or samurai with no master, enters a small village in feudal Japan where two rival businessmen are struggling for control of the local gambling trade. Taking the name Sanjuro Kuwabatake, the ronin convinces both silk merchant Tazaemon and sake merchant Tokuemon to hire him as a personal bodyguard, then artfully sets in motion a full-scale gang war between the two ambitious and unscrupulous men.',
 'popularity': 26.358,
 'poster_path': '/tN7kYPjRhDolpui9sc9Eq9n5b2O.jpg',
 'release_date': '1961-04-25',
 'title': 'Yojimbo',
 'video': False,
 'vote_average': 8.1,
 'vote_count': 1281}

In [7]:
imdb = pd.read_csv('../02.data_csv/IMDB.csv')
df = pd.DataFrame(imdb)

In [8]:
title_list = df['Title'].tolist()

In [9]:
len(title_list)

250

In [10]:
def moviefinder(movielist):

    TMDB_list = []

    for movie in movielist:

        url = f'https://api.themoviedb.org/3/search/movie?query={movie}'

        headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiZTBhN2M4NDY5MTAzNjEwOGNmODk5NjU0YTUxMGUyNiIsInN1YiI6IjY1NDY1MDg2NmJlYWVhMDEyYzhlMTg0NCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.NnEmCyjbwS8CCnU-Q1zrLWNxSNcJG_OwHY6L3MYKBpo"
        }

        response = req.get(url, headers=headers)

        TMDB_list.append(response.json()['results'][0])

    return TMDB_list

In [18]:
TMDB_list = moviefinder(title_list)

In [19]:
TMDBdf = pd.DataFrame(TMDB_list)

In [20]:
TMDBdf.shape

(250, 14)

In [21]:
TMDBdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   adult              250 non-null    bool
 1   backdrop_path      246 non-null    object
 2   genre_ids          250 non-null    object
 3   id                 250 non-null    int64
 4   original_language  250 non-null    object
 5   original_title     250 non-null    object
 6   overview           250 non-null    object
 7   popularity         250 non-null    float64
 8   poster_path        250 non-null    object
 9   release_date       250 non-null    object
 10  title              250 non-null    object
 11  video              250 non-null    bool
 12  vote_average       250 non-null    float64
 13  vote_count         250 non-null    int64
dtypes: bool(2), float64(2), int64(2), object(8)
memory usage: 24.1+ KB

In [22]:
TMDBdf.describe().T

,count,mean,std,min,25%,50%,75%,max
id,250.0,75435.844000,167924.032510,11.0,387.5000,942.500,23928.00000,872585.000
popularity,250.0,58.646888,119.952242,0.6,21.0595,36.137,63.00225,1618.864
vote_average,250.0,7.908480,0.970723,0.0,7.8915,8.030,8.21425,8.710
vote_count,250.0,8623.132000,7409.505885,0.0,2361.7500,7204.000,13573.75000,34689.000

In [23]:
TMDB = TMDBdf.drop(['adult','backdrop_path','genre_ids','id','overview', 'poster_path','release_date', 'video'], axis=1)

In [24]:
TMDB.to_csv('../02.data_csv/TMDB.csv')